@{
    Layout = "_MasterLayout";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">dfkeenan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="@Context.GetLink("/")">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li> -->
        @{
            List<Tuple<string, string>> pages = Context
                .Documents[Blog.Pages]
                .Where(x => x.Bool(BlogKeys.ShowInNavbar, true))
                .Where(x => x.FilePath(Keys.RelativeFilePath)?.FullPath?.StartsWith("index") == (bool?)false)
                .Select(x => Tuple.Create(x.WithoutSettings.String(Keys.Title), Context.GetLink(x)))
                .Where(x => !string.IsNullOrEmpty(x.Item1))
                .OrderBy(x => x.Item1)
                .ToList();
            if(Documents[Blog.Tags].Any())
            {
                pages.Insert(0, Tuple.Create("Tags", Context.GetLink("tags/index.html")));
            }
            if(Documents[Blog.BlogPosts].Any() && Context.Bool(BlogKeys.GenerateArchive))
            {
                pages.Insert(0, Tuple.Create("Archive", Context.GetLink(Context.String(BlogKeys.PostsPath) + "/index.html")));
            }
            foreach(Tuple<string, string> page in pages)
            {

                <li class="nav-item"><a class="nav-link" href="@(page.Item2)">@(page.Item1)</a></li>
            }
        }
    </div>
</nav>
<div class="container-fluid">
    @if(Context.String(BlogKeys.Description) != null)
    {
        <a href="@Context.GetLink("/")"><h1>@Context.String(BlogKeys.Description)</h1> </a>
    }
    @if(Context.String(BlogKeys.Intro) != null)
    {            
        @if(Context.String(BlogKeys.Description) != null)
        {
            <hr>
        }
        <span>@Context.String(BlogKeys.Intro)</span>
    }
    @RenderBody()
</div>