@{
    Layout = "_MasterLayout";    
    ViewBag.FixedFooter = true;
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>@(string.Format((ViewBag.TitleFormat as string) ?? "{0}", Model.WithoutSettings.String(BlogKeys.Title)))</h1>    
            <!-- <h1>@Context.String(Keys.Title)</h1> -->
            @RenderBody()
        </div>
        <div class="d-none d-lg-block mt-3 pl-3 pr-3" style="width:250px;" >
            <div class="card border-dark bg-transparent">
                <div class="card-header bg-dark">Popular tags</div>
                <div class="card-body text-light">
                   @foreach (IDocument tagDocument in Documents[Blog.Tags]
                        .GroupBy(x => x.String(BlogKeys.Tag)).Select(x => x.Where(p => p.Get<int>(Keys.CurrentPage) == 1).First())
                        .OrderByDescending(x => x.Get<int>(Keys.TotalItems)).Take(10))
                    {
                        string tag = tagDocument.String(BlogKeys.Tag);
                        string postCount = tagDocument.String(Keys.TotalItems);
                        <a class="btn btn-primary btn-sm m-1" role="button" href="@Context.GetLink(tagDocument)" > @tag <span class="badge badge-light">@postCount</span></a>
                    }
                    
                </div>
                  <div class="card-footer text-muted">
                    <a href="@Context.GetLink("tags/index.html")">More tags</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

